
#card {
    margin-bottom: .5em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.reminder {
    border-left: 3px solid green;
}

h3 {
    max-width: 70%;
}

i {
    padding-top: 5px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.bi-x {
    color: red;
    font-size: 1.5rem;
}

.bi-app:hover {
    color: green;
}

.bi-check-square {
    color: green;
}

