<div class="container" id="task-container">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <app-clock></app-clock>
        <div class="d-flex justify-content-end" id="task-bar">
            <form class="d-flex" id="search-bar">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="d-flex">
                <app-button
                    (btnClick)="toggleAddTask()"
                    ></app-button>
            </div>
        </div>
    </div>
    <div id="task-list" class="container d-flex justify-content-around">
        <div>
            <app-task-item
                *ngFor="let task of tasks"
                [task]= "task"
            ></app-task-item>
        </div>
        <div id="searched-items">
            <app-task-item
                *ngFor="let task of tasks"
                [task]= "task"
            ></app-task-item>
        </div>
    </div>
</div>
